:global {
  @import 'base';
  @import 'vendor/normalize';

  @import "../../node_modules/react-select/scss/default.scss";

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

// https://github.com/css-modules/css-modules
:global {
	.page-container {
		.view-container {
			.container {
				width: 100%;
			}
		}
	}
}
